.practice-details {
  margin-top: 1.5rem;
}

.practice-details__item {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: #e7e7e7;
  margin-top: 0.5rem;
  padding: 1rem;
}

.practice-details__break {
  margin-top: 1rem;
}

.practice-details__text {
  font-weight: bold;
}
